<header class="custom-header">
  <div class="header-row">
    <nav class="header-nav left-nav">
      {{ range .Site.Menus.main }}
        {{ if eq .Identifier "focus" }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </nav>
    <div class="header-center">
      <div class="header-logo">
        <a href="/">
          <img src="/logo.png" alt="Site Logo" class="nozoom" data-zoom-disable>
        </a>
      </div>
    </div>
    <nav class="header-nav right-nav">
      {{ range .Site.Menus.main }}
        {{ if eq .Identifier "muser" }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </nav>
  </div>
</header>