<header class="custom-header">
  <div class="header-row">
    <nav class="header-nav left-nav menu-list">
      <a href="{{ "/focus/articles/" | relURL }}">Articles</a>
      <a href="{{ "/focus/projects/" | relURL }}">Projects</a>
      <a href="{{ "/focus/technical/" | relURL }}">Technical</a>
    </nav>
    <div class="header-center">
      <div class="header-logo">
        <a href="/">
          <img src="/logo.png" alt="Site Logo" class="nozoom" data-zoom-disable>
        </a>
      </div>
    </div>
    <nav class="header-nav right-nav menu-list">
      <a href="{{ "/muser/reviews/" | relURL }}">Reviews</a>
      <a href="{{ "/muser/satire/" | relURL }}">Satire</a>
      <a href="{{ "/muser/opinions/" | relURL }}">Opinions</a>
    </nav>
  </div>
</header>
